#quill-editor p {
  font-family: "Helvetica Neue";
}

#quill-editor .ql-editor {
  padding: 0;
}

#quill-editor .ql-editora8a29e.ql-blank {
  font-size: 16px;
}

#quill-editor .ql-editor.ql-blank::before {
  left: unset;
  right: unset;
  color: #94a3b8; /* slate-400. Tailwind v4 will let you use var(--color-slate-400) */
  font-style: unset;
}
