#quill-editor p {
  font-family: "Helvetica Neue";
}

#quill-editor .ql-editor {
  padding: 0;
}

#quill-editor .ql-editora8a29e.ql-blank {
  font-size: 16px;
}

#quill-editor .ql-editor.ql-blank::before {
  left: unset;
  right: unset;
  color: var(--color-slate-400);
  font-style: unset;
}
