@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  p,
  div,
  input {
    @apply text-slate-700;
  }
}

body {
  margin: 0;
  min-width: 320px;
  height: 100vh;
  background-color: white;
}

.electron-drag-region {
  -webkit-app-region: drag;
}

.electron-no-drag {
  -webkit-app-region: no-drag;
}

#quill-editor .ql-editor {
  padding: 0;
}

#quill-editor p {
  font-family: "Helvetica Neue";
  font-size: 16px;
}

#quill-editor ul {
  padding-left: 0;
}

#quill-editor ul li::before {
  font-size: 16px;
  margin-left: 2px;
  margin-right: 2px;
  text-align: center;
  color: #cbd5e1; /* slate-300. Tailwind v4 will let you use var(--color-slate-300) */
}

#quill-editor ul li {
  font-size: 16px;
  padding-left: 0;
}

#quill-editor ol {
  padding-left: 0;
}

#quill-editor ol li {
  font-size: 16px;
}

#quill-editor blockquote {
  font-size: 16px;
  border-left: 2px solid #cbd5e1; /* slate-300. Tailwind v4 will let you use var(--color-slate-300) */
  padding-left: 4px;
}

#quill-editor pre,
code {
  font-size: 14px;
  font-family:
    "SF Mono", SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier,
    monospace;
  background-color: #f1f5f9; /* slate-100. Tailwind v4 will let you use var(--color-slate-100) */
  padding: 4px;
  border-radius: 8px;
}

#quill-editor pre {
  padding: 4px 8px;
}

#quill-editor a {
  color: var(--ql-link-color, #f97316); /* falls back to orange-500 */
  text-decoration: underline;
  cursor: pointer;
}

#quill-editor .ql-editor.ql-blank::before {
  left: unset;
  right: unset;
  color: #94a3b8; /* slate-400. Tailwind v4 will let you use var(--color-slate-400) */
  font-style: unset;
  font-size: 16px;
}

/* 
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
